<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio | Julio Lucena</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
</head>

<body>

    <header class="header-container2">

        

        <div class="header">
            <div class="checkbox-container">
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="toggle">
                    <label class="checkbox" for="toggle">
                        <div class="trace"></div>
                        <div class="trace"></div>
                        <div class="trace"></div>
                    </label>
                    <div class="menu"></div>
                    <nav class="menu-items">

                    <ul>

                        <li>
                            <a href="Home.html">Home</a>
                        </li>

                        <li>
                            <a href="Quem_Sou.html">Quem Sou</a>                          
                        </li>

                        <li>
                            <a href="Projetos.html">Projetos</a>
                        </li>

                    </ul>
                    
                    </nav>


                </div>
            </div>
        </div>

        <div class="text2">
        <h2>Aqui estão</h2>
        <h2>alguns dos meus projetos</h2></div>

        
    </header>

    <main class="container">

        <div class="card-container1">
            <div class="card1">
                <div class="card-wrapper1">
                    
                </div>
            </div>
            <div class="card-text1">
                Este seria um dos meus projetos, a lista do Professor Masanori, como comumente é conhecida entre os alunos,
                no qual há nela uma série de variados exercícios de fixação de Python.
            </div>
        </div>

        <br>

        <div class="card-container2">
            <div class="card2">
                <div class="card-wrapper2">
                    <a href="https://github.com/impulseteam/projeto-integrador-2022-1---FATEC-DSM"></a>
                </div>
            </div>
            <div class="card-text2">
                Já este projeto desenvolvido para o sistema de aprendizagem por projeto integrador (API) da Fatec,
                foi criado em uma equipe, a Impulse Team, do qual faço parte onde visa resolver o problema que foi entregue a nós
                pelo cliente que seria desenvolver um sistema de gestão de serviços de tecnologia da informação. 
            </div>
        </div>

    </main>

    <footer class="footer">

        Feito por Julio Lucena <div class="lf"><img src="../static/img/logo.png" alt=""></div> 

    </footer>

</body>
</html>