<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Portfólio | Julio Lucena</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


    
    <header class="header-container1">

        

        <div class="header">
            <div class="checkbox-container">
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="toggle">
                    <label class="checkbox" for="toggle">
                        <div class="trace"></div>
                        <div class="trace"></div>
                        <div class="trace"></div>
                    </label>
                    <div class="menu"></div>
                    <nav class="menu-items">

                    <ul>

                        <li>
                            <a href="Home.html">Home</a>
                        </li>

                        <li>
                            <a href="Quem_Sou.html">Quem Sou</a>                          
                        </li>

                        <li>
                            <a href="Projetos.html">Projetos</a>
                        </li>

                    </ul>
                    
                    </nav>


                </div>
            </div>
        </div>

        <div class="text1"> <h1>Logo abaixo vou contar um pouco sobre mim!</h1> </div>

        
        
    </header>

    <main class="container">
        <div class="card-container">
            <div class="card">
                <picture> <source media="(min-width: 1055px )" srcset="../static/img/card_1.png" type="image/jpg"> <img src="../static/img/card_4.png" alt=""> </picture>
                <div class="card-wrapper">
                   
                    
                </div>
            </div>
            <div class="card-text">
                Sou Julio Cesar Rodrigues Lucena Costa, ou como todos me conhecem, Julio, 
                nasci em 1 de Março 2001, natural de São José dos Campos, interior de São Paulo,
                atualmente curso DSM (Desenvolvimento de Software Multiplataforma) na FATEC - Prof.
                Jessen Vidal, também já fiz cursos de Mecânica de Usinagem e Nanotecnologia pelo
                Senai, todavia me encontrei na área de T.I, no qual detenho como escopo aprimorar cada
                vez mais minha aptidão de desenvolvedor, projeto superar as concepções corporativas, 
                objetivando conquistar as ocasiões para desenvolver profissionalmente a minha competência
                no mercado de trabalho. Visando assim atingir a efetivação e desenvolvimento profissional.

                <br>
                <br>

                Sou uma pessoa que gosta de cultura geek, seja desde filmes, como De Volta para o Futuro, como a jogos sendo
                um exemplo a série de jogos Final Fantasy, uma das minhas favoritas, quero num futuro poder
                trabalhar com algo relacionado aos meus gostos e também a minha presente área de atuação, como por exemplo
                participar do desenvolvimento de algum jogo.
                
                <br>
                <br>

                Caso queira entrar em contato, minhas redes sociais profissionais se encontram na página Home.

                <br>
                <br>
                Nunca se esqueça de se manter sempre em constante evolução, pois o mundo evolui e temos que evoluir com ele.
            </div>
        </div>
        

    </main>

    <footer class="footer">

        Feito por Julio Lucena <div class="lf"><img src="../static/img/logo.png" alt=""></div>

    </footer>

</body>
</html>