<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Portfólio | Julio Lucena</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
</head>

<body>

    <header class="header-container">

       



        <div class="header">
            <div class="checkbox-container">
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="toggle">
                    <label class="checkbox" for="toggle">
                        <div class="trace"></div>
                        <div class="trace"></div>
                        <div class="trace"></div>
                    </label>
                    <div class="menu"></div>
                    <nav class="menu-items">

                    <ul>

                        <li>
                            <a href="Home.html">Home</a>
                        </li>

                        <li>
                            <a href="Quem_Sou.html">Quem Sou</a>                          
                        </li>

                        <li>
                            <a href="Projetos.html">Projetos</a>
                        </li>

                    </ul>
                    
                    </nav>


                </div>
            </div>
        </div>

        <h1>Olá Seja Bem Vindo</h1>
        <h2>Sou Julio Lucena</h2>
        <h3>Web Developer Junior</h3>


        <div class="social-media">
            <div class="social-media">
                <a href="https://www.linkedin.com/in/julio-lucena-2001/"> <img src="../static/img/linkedin.png" > </a>
                <a href="https://github.com/JulioL2001"> <img src="../static/img/github.png"></a>
            </div>
        </div>
    </header>



    <footer class="footer">

        Feito por Julio Lucena  <div class="lf"><img src="../static/img/logo.png" alt=""></div>

    </footer>

</body>
</html>